body {
    background-image: url("http://eskipaper.com/images/amazing-mountain-scenery-1.jpg");
    background-repeat: no-repeat;
    background-size: cover 100%;
    background-position: left top;
    max-height: 100%;
    max-width: 100%;
  }
  
  .navbar-brand #title{
    display: inline-block;
    text-align: left;
  }
  
  * { box-sizing: border-box; } 

  body { font-family: sans-serif; }
  
  /* ---- grid ---- */
  
  .grid {
    background: #DDD;
    max-width: 1200px;
  }
  
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid-item {
    float: left;
    width: 100px;
    height: 100px;
    background: #C09;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
  }
  
  .grid-item--width2 { width: 200px; }
  .grid-item--height2 { height: 200px; }
  
  .grid-item:hover {
    border-color: hsla(0, 0%, 100%, 0.5);
    cursor: move;
  }
  
  .grid-item.ui-draggable-dragging,
  .grid-item.is-positioning-post-drag {
    background: #C90;
    z-index: 2;
  }
  
  .packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
            transition: transform 0.2s;
  }